<div class="container mt-3">
  <form action="/shorten" method="POST">
    <div class="mb-3">
      <input type="text" name="url" id="url" placeholder="Input URL here" required>
    </div>
    <button class="btn btn-outline-primary" type="submit">Shorten</button>
  </form>
</div>