<div class="container mt-3">
  <form action="/" method="GET">
    <div class="mb-3">
      <p>Success! Please use this link:</p>
      <p>wk5018102@gmail.com</p>
    </div>
    <button class="btn btn-outline-primary" type="submit">Copy</button>
  </form>
</div>