<div class="container mt-3">
  <div class="mb-3">
    <p>Success! Please use this link:</p>
    <input type="tex" id="shortURL" value="{{origin}}/{{shortURL}}" disabled>
  </div>
  <button class="btn btn-outline-primary" onclick="copy()">Copy</button>
  {{!-- 複製shortURL --}}
  <script>
    function copy() {
      const copyURL = document.getElementById('shortURL')
      navigator.clipboard.writeText(copyURL.value)
    }
  </script>
</div>